<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>VC Port</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>dev.shivampingale.vcport</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.5</string>
	<key>CFBundleVersion</key>
	<string>10</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
	<key>VCPortEnableUpdateCheck</key>
	<false/>
	<key>VCPortSourceRepo</key>
	<string>https://github.com/ShivamPingaleDev/Veracrypt_port</string>
	<key>VCPortUpdateManifest</key>
	<string>https://raw.githubusercontent.com/ShivamPingaleDev/Veracrypt_port/master/ports/version.json</string>
	<key>VCPortUpstreamVersion</key>
	<string>1.26.29</string>
	<key>VCPortUpstreamCommit</key>
	<string>b48e31f5b47da7d41025e3f0e02751675e15005a</string>
	<key>VCPortUpstreamTag</key>
	<string>VeraCrypt_1.26.29</string>
	<key>VCPortUpstreamGit</key>
	<string>https://github.com/veracrypt/VeraCrypt.git</string>
	<key>VCPortUpstreamReleases</key>
	<string>https://api.github.com/repos/veracrypt/VeraCrypt/releases/latest</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<false/>
	</dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Encrypted volume</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
				<string>public.item</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>dev.shivampingale.vcport.container</string>
			<key>UTTypeDescription</key>
			<string>Encrypted container</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hc</string>
					<string>tc</string>
					<string>vera</string>
					<string>vcpw</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
